.mx-auto {
	margin-right: auto;
	margin-left: auto;
}
.m-0 {
	margin: 0;
}
.m-1 {
	margin: ($spacer * 0.25);
}
.m-2 {
	margin: ($spacer * 0.5);
}
.m-3 {
	margin: $spacer;
}
.m-4 {
	margin: ($spacer * 2);
}
.m-5 {
	margin: ($spacer * 3);
}

.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: ($spacer * 0.25);
}
.mt-2 {
	margin-top: ($spacer * 0.5);
}
.mt-3 {
	margin-top: $spacer;
}
.mt-4 {
	margin-top: ($spacer * 2);
}
.mt-5 {
	margin-top: ($spacer * 3);
}

.mr-0 {
	margin-right: 0;
}
.mr-1 {
	margin-right: ($spacer * 0.25);
}
.mr-2 {
	margin-right: ($spacer * 0.5);
}
.mr-3 {
	margin-right: $spacer;
}
.mr-4 {
	margin-right: ($spacer * 2);
}
.mr-5 {
	margin-right: ($spacer * 3);
}

.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: ($spacer * 0.25);
}
.mb-2 {
	margin-bottom: ($spacer * 0.5);
}
.mb-3 {
	margin-bottom: $spacer;
}
.mb-4 {
	margin-bottom: ($spacer * 2);
}
.mb-5 {
	margin-bottom: ($spacer * 3);
}

.ml-0 {
	margin-left: 0;
}
.ml-1 {
	margin-left: ($spacer * 0.25);
}
.ml-2 {
	margin-left: ($spacer * 0.5);
}
.ml-3 {
	margin-left: $spacer;
}
.ml-4 {
	margin-left: ($spacer * 2);
}
.ml-5 {
	margin-left: ($spacer * 3);
}

.p-0 {
	margin: 0;
}
.p-1 {
	margin: ($spacer * 0.25);
}
.p-2 {
	margin: ($spacer * 0.5);
}
.p-3 {
	margin: $spacer;
}
.p-4 {
	margin: ($spacer * 2);
}
.p-5 {
	margin: ($spacer * 3);
}
.pt-0 {
	padding-top: 0;
}
.pt-1 {
	padding-top: ($spacer * 0.25);
}
.pt-2 {
	padding-top: ($spacer * 0.5);
}
.pt-3 {
	padding-top: $spacer;
}
.pt-4 {
	padding-top: ($spacer * 2);
}
.pt-5 {
	padding-top: ($spacer * 3);
}
.pr-0 {
	padding-right: 0;
}
.pr-1 {
	padding-right: ($spacer * 0.25);
}
.pr-2 {
	padding-right: ($spacer * 0.5);
}
.pr-3 {
	padding-right: $spacer;
}
.pr-4 {
	padding-right: ($spacer * 2);
}
.pr-5 {
	padding-right: ($spacer * 3);
}
.pb-0 {
	padding-bottom: 0;
}
.pb-1 {
	padding-bottom: ($spacer * 0.25);
}
.pb-2 {
	padding-bottom: ($spacer * 0.5);
}
.pb-3 {
	padding-bottom: $spacer;
}
.pb-4 {
	padding-bottom: ($spacer * 2);
}
.pb-5 {
	padding-bottom: ($spacer * 3);
}
.pl-0 {
	padding-left: 0;
}
.pl-1 {
	padding-left: ($spacer * 0.25);
}
.pl-2 {
	padding-left: ($spacer * 0.5);
}
.pl-3 {
	padding-left: $spacer;
}
.pl-4 {
	padding-left: ($spacer * 2);
}
.pl-5 {
	padding-left: ($spacer * 3);
}
